@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses";
}


<div class="row pb-3">
    @foreach (var course in Model)
    {
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card card-custom border-0 p-3 shadow border-top border-5 rounded bg-white">
                <img src="@course.ImgUrl" class="card-img-top rounded" alt="@course.Title" />

                <div class="card-body pb-0">
                    <h5 class="card-title text-center text-dark text-uppercase opacity-75">@course.Title</h5>
                    <p class="text-center text-secondary mb-1" style="font-size: 0.9rem;">
                        Created: @course.CreatedAt.ToString("MMMM yyyy")
                    </p>
                    @if (course.Instructor != null)
                    {
                        <p class="text-secondary text-center mb-0">
                            by <b>@course.Instructor.FullName</b>
                        </p>
                    }
                </div>

                <div class="d-flex gap-2 mt-2">
                    <a asp-controller="Home"
                       asp-action="Details"
                       asp-route-courseId="@course.Id"
                       class="btn btn-primary flex-fill">
                        Course Details
                    </a>

                    <form asp-area="Student"
                          asp-controller="Enrollment"
                          asp-action="Create"
                          asp-route-courseId="@course.Id"
                          method="post"
                          class="flex-fill">
                        <button type="submit" class="btn btn-secondary w-100">
                            Enroll
                        </button>
                    </form>

                </div>

            </div>
        </div>
    }
</div>

